.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mapaytexto {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: calc(100% - 40px);
  }
  
  .mapa {
    width: 100%;
    padding-left: 20px;
  }